<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <th>
            <td> First Name</td>
            <td> Email</td>
            <td> Age</td>
            <td> View Profile</td>

        </th>
        {%for transaction in transactions%}
        <tr>
            <td>{{ transaction.first_name}}</td>
            <td>{{ transaction.email}}</td>
            <td>{{ transaction.age}}</td>
            <a href="{%url 'transaction_profile' id=transaction.id%}"></a>
            {%endfor%}
        </tr>
       

    </table>
</body>
</html>